<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <span> {{ title }} </span>
            <ol>
                <todo
                    v-for="todo in todos"
                    v-bind:todo="todo"
                    v-bind:key="todo.id"
                    >
                </todo>
            </ol>
            <div>
                <input v-model="newTodo">
                <button v-on:click="addTodo" v-bind:disabled="newTodo === ''">Add todo</button>
            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>

