<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <link type="text/css" rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="app">
            <span> {{ title }} </span>
            <todo
                v-for="todo in todos"
                :todo="todo"
                :key="todo.id"
                >
            </todo>
            <div>
                <input v-model="newTodo">
                <button @click="addTodo" :disabled="disabledAdd()">Add todo</button>
            </div>
            <div v-if="yesno">
                Is it awesome?
                <span :class="{ yes: isAwesome, no: !isAwesome }">{{ yesno }}.</span>
            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>
